@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500;600;700;800&family=Raleway:wght@400;500;600;700&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  /* font-family: 'Merriweather Sans', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-block {
  padding: 100px;
  display: flex;
  font-family: 'Raleway', sans-serif;
}

.nav-bar {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
}

.align-center {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
}